{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ cases[0]["property"] | to_snake }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
    table = {{ case["input"]["rows"] | to_roc_multiline_string | indent(8) }}
    result = {{ case["property"] | to_snake }} table
    expected = Ok {{ case["expected"] | to_roc_multiline_string | indent(8) }}
    result == expected

{% endfor %}
