{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ cases[0]["property"] | to_camel }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
    result = {{ case["property"] | to_camel }} { inputBase: {{ case["input"]["inputBase"] | to_roc }}, outputBase: {{ case["input"]["outputBase"] | to_roc }}, digits: {{ case["input"]["digits"] | to_roc }} }
    {%- if case["expected"]["error"] %}
    result |> Result.isErr
    {%- else %}
    result == Ok {{ case["expected"] }}
    {%- endif %}

{% endfor %}
