{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ cases[0]["property"] | to_snake }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
    result = {{ case["property"] | to_snake }}({{ case["input"]["number"] }})
    {%- if case["expected"]["error"] %}
    result |> Result.is_err
    {%- else %}
    result == Ok({{ case["expected"] }})
    {%- endif %}

{% endfor %}
