{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ cases[0]["property"] | to_camel }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
    result = {{ case["input"]["array"] | to_roc }} |> {{ case["property"] | to_camel }} {{ case["input"]["value"] }}
{%- if case["expected"]["error"] %}
    Result.isErr result
{%- else %}
    result == Ok {{ case["expected"] }}
{%- endif %}

{% endfor %}
