{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ exercise | to_camel }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
{%- if case["input"]["name"] == None %}
    result = {{ case["property"] | to_camel }} Anonymous
{%- else %}
    result = {{ case["property"] | to_camel }} (Name {{ case["input"]["name"] | to_roc }})
{%- endif %}
    result == {{ case["expected"] | to_roc }}

{% endfor %}
