{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ exercise | to_camel }}]

{% for case in cases -%}
# {{ case["description"] }}
{% if case["input"]["name"] == None -%}
expect {{ case["property"] | to_camel }} Anonymous == {{ case["expected"] | to_roc }}
{%- else -%}
expect {{ case["property"] | to_camel }} (Name {{ case["input"]["name"] | to_roc }}) == {{ case["expected"] | to_roc }}
{%- endif %}

{% endfor %}
