{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [Rational, add, sub, mul, div, abs, exp, exp_real, reduce]

is_approx_eq = |f1, f2| {
    (f1 * 1e9 + 0.5).to_u64_wrap() == (f2 * 1e9 + 0.5).to_u64_wrap()
}

{% set property_map = {
    "abs": "abs",
    "add": "add",
    "div": "div",
    "exprational": "exp",
    "expreal": "exp_real",
    "mul": "mul",
    "reduce": "reduce",
    "sub": "sub",
}
%}

{% macro test_case(case) -%}
# {{ case["description"] }}
expect {
{%- if "r1" in case["input"] %}
    r1 = {{ plugins.to_roc_rational(case["input"]["r1"]) }}
    r2 = {{ plugins.to_roc_rational(case["input"]["r2"]) }}
    result = r1->{{ property_map[case["property"]] | to_snake }}(r2)
{%- elif "r" in case["input"] %}
    {%- if "x" in case["input"] %}
    r = {{ plugins.to_roc_rational(case["input"]["r"]) }}
    x = {{ case["input"]["x"] | to_roc }}
    result = x->{{ property_map[case["property"]] | to_snake }}(r)
    {%- elif "n" in case["input"] %}
    r = {{ plugins.to_roc_rational(case["input"]["r"]) }}
    n = {{ case["input"]["n"] | to_roc }}
    result = r->{{ property_map[case["property"]] | to_snake }}(n)
    {%- else %}
    r = {{ plugins.to_roc_rational(case["input"]["r"]) }}
    result = r->{{ property_map[case["property"]] | to_snake }}()
    {%- endif %}
{%- else %}
    crash "This test case is not implemented yet."
{%- endif %}
{%- if case["expected"] is iterable %}
    result == {{ plugins.to_roc_rational(case["expected"]) }}
{%- else %}
    result->is_approx_eq({{ case["expected"] | to_roc }})
{%- endif %}
}

{% endmacro %}

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
    {%- if "cases" in case %}
      {%- for subcase in case["cases"] %}
        {{ test_case(subcase) }}
      {%- endfor %}
    {%- else %}
        {{ test_case(case) }}
    {%- endif %}
{% endfor %}
{% endfor %}

{{ macros.footer() }}
