{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header()}}

import Leap exposing [isLeapYear]

{% for case in cases -%}
# {{ case["description"] }}
expect (isLeapYear {{ case["input"]["year"] }}) == {{ case ["expected"] | to_roc }}

{% endfor %}
