{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header()}}

import Leap exposing [is_leap_year]

{% for case in cases -%}
# {{ case["description"] }}
expect
    result = (is_leap_year {{ case["input"]["year"] }})
    result == {{ case ["expected"] | to_roc }}

{% endfor %}
