{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [color_code, colors]

{% for case in cases %}
##
## {{ case["description"] }}
##
{% if case["property"] == "colors" %}
expect
    result = {{ case["property"] | to_snake }}
    result == [
{%- for color in case["expected"] %}
        {{ color | to_roc }},
{%- endfor %}
    ]
{% else %}
{% for subcase in case["cases"] -%}
# {{ subcase["description"] }}
expect
    result = {{ subcase["property"] | to_snake }}({{ subcase["input"]["color"] | to_roc }})
    result == Ok({{ subcase["expected"] }})

{% endfor %}
{%- endif -%}
{%- endfor -%}
