{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }}

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
# {{ case["description"] }}
expect {
    {%- if case["expected"]["error"] %}
    affine_cipher = AffineCipher.new({a: {{ case["input"]["key"]["a"] }}, b: {{ case["input"]["key"]["b"] }}})
    affine_cipher.is_err()
    # AffineCipher could not be created, so cannot encode or decode
    {%- else %}
    phrase = {{ case["input"]["phrase"] | to_roc }}
    affine_cipher = AffineCipher.new({a: {{ case["input"]["key"]["a"] }}, b: {{ case["input"]["key"]["b"] }}})?
    result = affine_cipher.{{ case["property"] | to_snake }}(phrase)
    {%- if case["property"] == "encode" %}
    expected = {{ case["expected"] | to_roc }}
    {%- else -%}
    expected = Ok({{ case["expected"] | to_roc }})
    {%- endif -%}
    result == expected
    {%- endif %}
}

{% endfor %}
{% endfor %}

{{ macros.footer() }}
