{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [to_protein]

{% for case in cases -%}
# {{ case["description"] }}
expect
    rna = {{ case["input"]["strand"] | to_roc }}
    result = rna |> to_protein
    {%- if case["expected"]["error"] %}
    result |> Result.is_err
    {%- else %}
    result == Ok([{%- for aminoAcid in case["expected"] -%}{{ aminoAcid | to_pascal }}, {%- endfor %}])
    {%- endif %}

{% endfor %}

