{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }}

expect_value = |read_result, expected| {
    expect read_result.value == expected
    read_result.updated_buffer
}

{% for case in cases -%}
# {{ case["description"] }}
expect {
    {% if case["input"]["operations"][-1]["should_succeed"] -%}
    _
    {%- endif -%}
    result = {{ exercise | to_pascal }}.create({ capacity: {{ case["input"]["capacity"] }} })
        {%- for op in case["input"]["operations"] -%}
        {%- if op["operation"] == "clear" %}
        .clear()
        {%- elif op["operation"] == "overwrite" %}
        .overwrite({{ op["item"] }})
        {%- elif op["operation"] == "write" %}
        {%- if op["should_succeed"] %}
        .write({{ op["item"] }})?
        {%- else %}
        .write({{ op["item"] }})
    
    result == Err(BufferFull)
}
        {%- endif %}
        {%- elif op["operation"] == "read" %}
        {%- if op["should_succeed"] %}
        .read()?
        -> expect_value({{ op["expected"] }})
        {%- else %}
        .read()
    
    result == Err(BufferEmpty)
}
        {%- endif %}
        {%- endif %}
        {%- endfor %}

    {% if case["input"]["operations"][-1]["should_succeed"] -%}
    Bool.True
}

    {% endif -%}

{% endfor %}

{{ macros.footer() }}
