{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ cases[0]["property"] | to_camel }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
    treeHeights = [
        {%- for row in case["input"]["matrix"] %}
        {{ row | to_roc }},
        {%- endfor %}
    ]
    result = treeHeights |> {{ case["property"] | to_camel }}
    expected = Set.fromList [
        {%- for tree in case["expected"] %}
        {{ tree | to_roc }},
        {%- endfor %}
    ]
    result == expected

{% endfor %}
