{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}
{% set equations = {
    "real": "z.real",
    "imaginary": "z.imaginary",
    "conjugate": "z.conjugate()",
    "abs": "z.abs()",
    "exp": "z.exp()",
    "add": "z1 + z2",
    "sub": "z1 - z2",
    "mul": "z1 * z2",
    "div": "z1 / z2"
} -%}


import Complex exposing [complex]

{% for supercase in cases %}
###
### {{ supercase["description"] }}
###

{% for case in supercase["cases"] -%}
{%- if case["cases"] %}
## {{ case["description"] }}
{%- set subcases = case["cases"] %}
{%- else %}
{%- set subcases = [case] %}
{%- endif %}

{% for subcase in subcases -%}
# {{ subcase["description"] }}
{%- if subcase["input"]["z"] %}
expect {
    z = {{ plugins.to_complex_number(subcase["input"]["z"]) }}
    result = {{ equations[subcase["property"]] }}
    {%- if subcase["expected"] is iterable and subcase["expected"] is not string %}
    expected = {{ plugins.to_complex_number(subcase["expected"]) }}
    result -> complex_is_approx_eq(expected)
    {%- else %}
    result -> is_approx_eq({{ subcase["expected"] | to_roc }})
    {%- endif %}
}
{%- elif subcase["input"]["z1"] %}
expect {
    z1 = {{ plugins.to_complex_number(subcase["input"]["z1"]) }}
    z2 = {{ plugins.to_complex_number(subcase["input"]["z2"]) }}
    result = {{ equations[subcase["property"]] }}
    expected = {{ plugins.to_complex_number(subcase["expected"]) }}
    result -> complex_is_approx_eq(expected)
}
{%- endif %}

{% endfor %}

{% endfor %}
{% endfor %}

is_approx_eq = |x1, x2| {
	i1 = (x1 * 1000 + 0.5).to_i64_try() ?? { crash "Unreachable" }
	i2 = (x2 * 1000 + 0.5).to_i64_try() ?? { crash "Unreachable" }
	i1 == i2
}

complex_is_approx_eq = |z1, z2| {
	is_approx_eq(z1.real, z2.real) and is_approx_eq(z1.imaginary, z2.imaginary)
}

{{ macros.footer() }}
