{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}
{% set equations = {
    "real": "z.real",
    "imaginary": "z.imag",
    "conjugate": "z.conjugate()",
    "abs": "z.abs()",
    "exp": "z.exp()",
    "add": "z1 + z2",
    "sub": "z1 - z2",
    "mul": "z1 * z2",
    "div": "z1 / z2"
} -%}

import Complex

{% for supercase in cases %}
###
### {{ supercase["description"] }}
###

{% for case in supercase["cases"] -%}
{%- if case["cases"] %}
## {{ case["description"] }}
{%- set subcases = case["cases"] %}
{%- else %}
{%- set subcases = [case] %}
{%- endif %}

{% for subcase in subcases -%}
# {{ subcase["description"] }}
{%- if subcase["input"]["z"] %}
expect {
    z = {{ plugins.to_complex_number(subcase["input"]["z"]) }}
    result = {{ equations[subcase["property"]] }}
    {%- if subcase["expected"] is iterable and subcase["expected"] is not string %}
    expected = {{ plugins.to_complex_number(subcase["expected"]) }}
    result |> complex_is_approx_eq(expected)
    {%- else %}
    result.is_approx_eq({{ subcase["expected"] | to_roc }}, {abs: 1e-6, rel: 1e-6})
    {%- endif %}
}
{%- elif subcase["input"]["z1"] %}
expect {
    z1 = {{ plugins.to_complex_number(subcase["input"]["z1"]) }}
    z2 = {{ plugins.to_complex_number(subcase["input"]["z2"]) }}
    result = {{ equations[subcase["property"]] }}
    expected = {{ plugins.to_complex_number(subcase["expected"]) }}
    result |> complex_is_approx_eq(expected)
}
{%- endif %}

{% endfor %}

{% endfor %}
{% endfor %}

complex_is_approx_eq = |z1, z2| {
	z1.real.is_approx_eq(z2.real, {abs: 1e-6, rel: 1e-6})
    and z1.imag.is_approx_eq(z2.imag, {abs: 1e-6, rel: 1e-6})
}

{{ macros.footer() }}
