{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [classify]

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
# {{ case["description"] }}
expect
    result = {{ case["property"] | to_camel }} {{ case["input"]["number"] }}
{%- if case["expected"]["error"] %}
    result == Err NumberArgIsZero
{%- else %}
    result == Ok {{ case["expected"] | to_pascal }}
{%- endif %}

{% endfor %}
{% endfor %}
