{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ exercise | to_camel }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
    result = {{ exercise | to_camel }} {{ case["input"]["value"] | to_roc }}
    result == {{ case["expected"] | to_roc }}

{% endfor %}
