{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ cases[0]["property"] | to_camel }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
    result = {{ case["property"] | to_camel }} {{ case["input"]["n"] }}
    expected = [{%- for triplet in case["expected"] %}
      ({{ triplet[0] }}, {{ triplet[1] }}, {{ triplet[2] }}),
      {%- endfor %}]
    result == expected

{% endfor %}
