{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [grains_on_square, total_grains]

{% for case in cases %}
##
## {{ case["description"] }}
##
{% if case["property"] == "total" %}
expect
    result = total_grains
    result == {{ case["expected"] }}
{% else %}
{% for subcase in case["cases"] -%}
# {{ subcase["description"] }}
expect
    result = grains_on_square({{ subcase["input"]["square"] }})
{%- if subcase["expected"]["error"] %}
    Result.is_err(result)
{%- else %}
    result == Ok({{ subcase["expected"] }})
{%- endif %}

{% endfor %}
{%- endif -%}
{%- endfor -%}
