{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [grainsOnSquare, totalGrains]

{% for case in cases %}
##
## {{ case["description"] }}
##
{% if case["property"] == "total" %}
expect
    result = totalGrains
    result == {{ case["expected"] }}
{% else %}
{% for subcase in case["cases"] -%}
# {{ subcase["description"] }}
expect
    result = grainsOnSquare {{ subcase["input"]["square"] }}
{%- if subcase["expected"]["error"] %}
    Result.isErr result
{%- else %}
    result == Ok {{ subcase["expected"] }}
{%- endif %}

{% endfor %}
{%- endif -%}
{%- endfor -%}
