{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import DifferenceOfSquares exposing [square_of_sum, sum_of_squares, difference_of_squares]

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
# {{ case["description"] }}
expect
    result = {{ case["property"] | to_snake }} {{ case["input"]["number"] }}
    result == {{ case["expected"] }}

{% endfor %}
{% endfor %}
