{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [encode, decode]

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
# {{ case["description"] }}
expect
    phrase = {{ case["input"]["phrase"] | to_roc }} 
    result = phrase |> {{ case["property"] | to_snake }}
    expected = {{ case["expected"] | to_roc }} 
    result == Ok expected

{% endfor %}
{% endfor %}
