{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [steps]

{% for case in cases -%}
# {{ case["description"] }}
expect
    result = {{ case["property"] | to_camel }} {{ case["input"]["number"] }}
{%- if case["expected"]["error"] %}
    result == Err {{ case["expected"]["error"] | to_roc }}
{%- else %}
    result == Ok {{ case["expected"] }}
{%- endif %}

{% endfor %}
