{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [Domino, find_chain]

{% macro to_list_of_pairs(dominoes) -%}
[
{%- for domino in dominoes -%}
({{ domino[0] }}, {{ domino[1] }}),
{%- endfor -%}
]
{%- endmacro %}

## Rotate each domino if needed to ensure that the small side is on the left
canonicalize : List(Domino) -> List(Domino)
canonicalize = |dominoes| {
    dominoes
    .map(|domino| {
        if domino.0 > domino.1 (domino.1, domino.0) else domino
    })
}

## Ensure that the given result is Ok and is a valid chain for the
## given list of dominoes
is_valid_chain_for : Try(List(Domino), _), List(Domino) -> Bool
is_valid_chain_for = |maybe_chain, dominoes| {
    match maybe_chain {
        Err(_) => Bool.False
        Ok(chain) => {
            if Set.from_list(canonicalize(chain)) == Set.from_list(canonicalize(dominoes)) {
                match chain {
                    [] => Bool.True
                    [.., last] => {
                        chain
                        .fold_until(
                            Ok(last),
                            |state, domino| {
                                match state {
                                    Err(InvalidChain) => { crash "Unreachable" }
                                    Ok(previous) => {
                                        if previous.1 == domino.0 {
                                            Continue(Ok(domino))
                                        } else {
                                            Break(Err(InvalidChain))
                                        }
                                    }
                                }
                            }
                        )
                        .is_ok()
                    }
                }
            } else {
                Bool.False
            }
        }
    }
}

{% for case in cases -%}
# {{ case["description"] }}
expect {
    result = Domino.find_chain({{ to_list_of_pairs(case["input"]["dominoes"]) }})
    {%- if case["expected"] %}
    result -> is_valid_chain_for({{ to_list_of_pairs(case["input"]["dominoes"]) }})
    {%- else %}
    result.is_err()
    {%- endif %}
}

{% endfor %}

{{ macros.footer() }}
