{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [is_equilateral, is_isosceles, is_scalene]

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
# {{ case["description"] }}
expect
    result = is_{{ case["property"] }}({{ case["input"]["sides"] | to_roc_tuple }})
    result == {{ case["expected"] | to_roc }}

{% endfor %}
{% endfor %}