{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header(imports=["json"]) }}

import {{ exercise | to_pascal }} exposing [get, post]

standardizeResult = \result ->
    result |> Result.try \string ->
        string
        |> Str.replaceEach ".0," ","
        |> Str.replaceEach ".0}" "}"
        |> Str.toUtf8
        |> List.dropIf \c -> [' ', '\t', '\n'] |> List.contains c
        |> Str.fromUtf8

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
# {{ case["description"] }}
expect
    database = {
        users: [
            {%- for user in case["input"]["database"]["users"] %}
            {
                name: {{ user["name"] | to_roc }},
                owes: Dict.fromList [
                    {%- for (name, amount) in user["owes"].items() %}
                    ({{ name | to_roc }}, {{ amount }}),
                    {%- endfor -%}
                ],
                owedBy: Dict.fromList [
                    {%- for (name, amount) in user["owed_by"].items() %}
                    ({{ name | to_roc }}, {{ amount }}),
                    {%- endfor -%}
                ],
                balance: {{ user["balance"] }},
            },
            {%- endfor %}
        ]
    }
    result = database |> {{ case["property"] | to_camel }} {
        url: {{ case["input"]["url"] | to_roc }},
    {%- if case["input"].get("payload", {}) != {} %}
        payload: {{ case["input"]["payload"] | tojson | to_roc }}
    {%- endif %}
    } |> standardizeResult
    expected = Ok {{ case["expected"] | tojson | replace(".0,", ",") | replace(".0}", "}") | replace(" ", "") | to_roc }}
    result == expected

{% endfor %}
{% endfor %}
