{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [get, post]

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
# {{ case["description"] }}
expect {
    database = {
        users: [
            {%- for user in case["input"]["database"]["users"] %}
            {
                name: {{ user["name"] | to_roc }},
                owes: Dict.from_list([
                    {%- for (name, amount) in user["owes"].items() %}
                    ({{ name | to_roc }}, {{ amount }}),
                    {%- endfor -%}
                ]),
                owed_by: Dict.from_list([
                    {%- for (name, amount) in user["owed_by"].items() %}
                    ({{ name | to_roc }}, {{ amount }}),
                    {%- endfor -%}
                ]),
                balance: {{ user["balance"] }},
            },
            {%- endfor %}
        ]
    }
    result_json = database -> {{ case["property"] | to_snake }}({
        url: {{ case["input"]["url"] | to_roc }},
    {%- if case["input"].get("payload", {}) != {} %}
        payload: {{ case["input"]["payload"] | tojson | to_roc }}
    {%- else %}
        payload: ""
    {%- endif %}
    })?
    expected_json = {{ case["expected"] | tojson | to_roc }}
    result_json->is_equivalent_to(expected_json)?
}

{% endfor %}
{% endfor %}

is_equivalent_to = |result_json, expected_json| {
    if expected_json.contains("\"users\"") {
        expected : RestApi.Database
        expected = Json.parse(expected_json)?
        result : RestApi.Database
        result = Json.parse(result_json)?
        Ok(result == expected)
    } else {
        expected : RestApi.User
        expected = Json.parse(expected_json)?
        result : RestApi.User
        result = Json.parse(result_json)?
        Ok(result == expected)
    }
}

{{ macros.footer() }}
