{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ cases[0]["property"] | to_camel }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
    result = {{ case["property"] | to_camel }} {{ case["input"]["strings"] | to_roc }}
    expected = {{ case["expected"] | to_roc_multiline_string | indent(8) }}
    result == expected

{% endfor %}

