{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ cases[0]["property"] | to_snake }}]

{% for case in cases -%}
# {{ case["description"] }}
expect
    board = {{ case["input"]["board"] | to_roc_multiline_string | indent(8) }}
    result = board |> {{ case["property"] | to_snake }}
    result == {% if case["expected"] == "" %}Err(NotFinished){% else %}Ok(Player{{ case["expected"] }}){% endif %}

{% endfor %}
