{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [encode, decode]

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
# {{ case["description"] }}
expect
    string = {{ case["input"]["string"] | to_roc }} 
    {%- if case["property"] == "consistency" %}
    result = string |> encode |> Result.try(decode)
    result == Ok(string)
{%- else %}
    result = string |> {{ case["property"] | to_snake }}
    expected = {{ case["expected"] | to_roc }} 
    result == Ok(expected)
{%- endif %}

{% endfor %}
{% endfor %}

