{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [value]

{% for case in cases -%}
# {{ case["description"] }}
expect
    result = {{ case["property"] | to_camel }} {{ case["input"]["colors"] | map('to_pascal') | list | to_roc | replace('"','') }}
    result == Ok {{ case["expected"] }}

{% endfor %}
