{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [{{ properties | map("to_snake") | join(", ") }}]

{% macro render_cases(cases) %}
{%- for case in cases %}
{%- if "cases" in case %}
{{ render_cases(case["cases"]) }}
{%- else %}
# {{ case["description"] }}
expect {
    result = tick({{ plugins.to_matrix(case["input"]["matrix"]) }})
    expected = {{ plugins.to_matrix(case["expected"]) }}
    result == expected
}
{%- endif %}

{% endfor %}
{% endmacro %}

{{ render_cases(cases) }}
{{ macros.footer() }}
