name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install wget jq coreutils libc-dev binutils

      - name: Install Roc
        run: bin/install-roc

      - name: Verify all exercises
        run: bin/verify-exercises
