name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install wget jq coreutils libc-dev binutils

      - name: Install Roc
        run: bin/install-roc

      - name: Verify all exercises
        run: bin/verify-exercises
