{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}
{{ macros.header() }}

import {{ exercise | to_pascal }} exposing [create, move]

{% for supercase in cases %}
##
## {{ supercase["description"] }}
##

{% for case in supercase["cases"] -%}
# {{ case["description"] }}
expect
  {%- if case["input"]["instructions"] %}
    robot = create {{ plugins.to_robot(case["input"], with_defaults=True) }}
    result = robot |> move {{ case["input"]["instructions"] | to_roc }}
  {%- else %}
    result = create {{ plugins.to_robot(case["input"], with_defaults=True) }}
  {%- endif %}
    result == {{ plugins.to_robot(case["expected"], with_defaults=False) }}

{% endfor %}
{% endfor %}
