{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header()}}

import HelloWorld exposing [hello]

{% for case in cases -%}
# {{ case["description"] }}
expect {{ case["property"] }} == "{{- case ["expected"] }}"

{% endfor %}
